<<<<<<< HEAD
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* Dropdown Button - trecho copiado de W3Schools */
.dropbtn {
  background-color: #661f1fa1;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  border-radius: 15%;
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
  background-color: #300505;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #1b1b1b;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: rgb(255, 255, 255);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #702e2e54;}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}
pre {
    margin-left: 50px;
}
ol {
    margin-left: 25px;
}
ol a {
    text-decoration: none;
}
ol {
    padding: 30px;
}
body {
    background-color: #2c2c2c;
    color: rgba(255, 255, 255, 0.699);
}
h3 {
    margin-left: 40px;
    font-size: 25px;
    color:rgb(80, 138, 138)}
=======
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
pre {
    margin-left: 50px;
}
ol {
    margin-left: 25px;
}
ol a {
    text-decoration: none;
}
ol {
    padding: 30px;
}
body {
    background-color: #2c2c2c;
    color: rgba(255, 255, 255, 0.699);
}
h3 {
    margin-left: 40px;
    font-size: 25px;
    color:rgb(80, 138, 138)
>>>>>>> 1504d9499ec6daf5ea11c7876ab70da5bf63c26a
}
